@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <p>
        <strong>@Model.Message</strong>
    </p>
}

